<!DOCTYPE html>
<html>
<body>

<div class="title">
    <!-- <img src="../static/images/aeumgil_logo.png"> -->
    <!-- Jinja2 템플릿 사용해서 호출 -->
    <img src={{ url_for('static', filename='images/aeumgil_logo.png') }}>
    <p class="title_header">쉬운말로 바꿔주는 AI</p>
</div>

<form action="http://127.0.0.1:5000/method" method="POST">
    <label for="fname">학번:</label><br>
    <input type="text" id="fname" name="num" value=""><br>
    <label for="lname">이름:</label><br>
    <input type="text" id="lname" name="name" value=""><br><br>
    <input type="submit" value="확인">
</form>

</body>
</html>